{% extends "layout.html" %}
{% block content %}

<div class="container mt-4">
  <h3 class="text-center profile-header">{{ user['name'] }}'s Profile</h3>
  <table class="table mt-4">
    <tr>
      <th>Name</th>
      <td>{{ user['name'] }}</td>
    </tr>
    <tr>
      <th>ID</th>
      <td>{{ user['u_eid'] }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ user['email'] }}</td>
    </tr>
  </table>

  {% if classes == [] %}

  <form action="{{ url_for('fetch_classes', user_id=user['_id']) }}" method="POST">
    <button type="submit" class="btn btn-primary mt-4">Get Courses</button>
  </form>  

  {% else %}

  <form action="{{ url_for('fetch_classes', user_id=user['_id']) }}" method="POST">
    <button type="submit" class="btn btn-primary mt-4">Refresh Courses List</button>
  </form>
  
  <table class="table mt-4">
    <thead>
      <tr>
        <th>Semester</th>
        <th>Courses</th>
      </tr>
    </thead>
    <tbody>
      {% for semester in classes %}
        <tr>
          <td>{{ semester.keys()|first }}</td>
          <td>
            {% for class in semester.values()|first %}
            
            {% if '-' in class %}
              <a href="{{ url_for('courses', course_id=class.split('-')[1]) }}">{{ class.split('-')[0] }}</a><br>
            {% else %}
              {{ class }}<br>
            {% endif %}
              
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endif %}


</div>

{% endblock %}